In [3]:
import pandas as pd
%config Completer.use_jedi = False
import datetime as dt

In [4]:
someday = dt.date(2016,1,18)

In [5]:
someday.day
someday.month
someday.year

2016

In [6]:
str(dt.datetime(2010,7,5,18,0))

'2010-07-05 18:00:00'

In [7]:
sometime =dt.datetime(2010,7,5,18,0,8)
sometime.year
sometime.day
sometime.month
sometime.hour
sometime.minute
sometime.second

8

### The pandas Time stamp Object

In [8]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015, 03, 31")
pd.Timestamp("1/1/2015")
pd.Timestamp("2/1/2015")

Timestamp('2015-02-01 00:00:00')

In [9]:
pd.Timestamp(dt.date(2015,1,1))
pd.Timestamp(dt.datetime(2010,7,5,18,0,8))

Timestamp('2010-07-05 18:00:08')

### The pandas Date time index ojbect

In [10]:
dates = ["2016-01-02","2016-04-04","2009-12-8"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-04', '2009-12-08'], dtype='datetime64[ns]', freq=None)

In [11]:
dates = [dt.date(2016,1,10),dt.date(1994,6,13),dt.date(1990,5,7)]
dindex = pd.DatetimeIndex(dates)

In [12]:
values = [100,200,300]
pd.Series(data=values,index=dindex)

2016-01-10    100
1994-06-13    200
1990-05-07    300
dtype: int64

### The pd.to_datetime() Method

In [13]:
pd.to_datetime("2015-5-2")

Timestamp('2015-05-02 00:00:00')

In [14]:
time  = pd.Series(["2015-01-03","2014/04/05","2016","July 4th,1996"])

In [15]:
pd.to_datetime(time)

0   2015-01-03
1   2014-04-05
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [16]:
date = pd.Series(["10/04/1991","July 4th,1996","31/02/2100"])

In [17]:
pd.to_datetime(date,errors='coerce')

C:\Users\tejas\AppData\Local\Temp\ipykernel_6028\3900325923.py:1: UserWarning: Parsing '31/02/2100' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(date,errors='coerce')

0   1991-10-04
1   1996-07-04
2          NaT
dtype: datetime64[ns]

### Create range of dtes with pd.date_range

In [18]:
times = pd.date_range(start="2016-01-01",end="2016-02-02",freq="D")

In [19]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [20]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
pd.date_range(start="2016-01-01",end="2016-02-02",freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31'],
              dtype='datetime64[ns]', freq='W-SUN')

In [22]:
pd.date_range(start="2016-01-01",end="2016-02-02",freq="B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-18',
               '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-02-01', '2016-02-02'],
              dtype='datetime64[ns]', freq='B')

In [23]:
pd.date_range(start="2016-01-01",end="2016-02-02",freq="W-MON")

DatetimeIndex(['2016-01-04', '2016-01-11', '2016-01-18', '2016-01-25',
               '2016-02-01'],
              dtype='datetime64[ns]', freq='W-MON')

In [24]:
pd.date_range(start="2016-01-01",end="2016-02-02",freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               ...
               '2016-01-30 18:00:00', '2016-01-31 00:00:00',
               '2016-01-31 06:00:00', '2016-01-31 12:00:00',
               '2016-01-31 18:00:00', '2016-02-01 00:00:00',
               '2016-02-01 06:00:00', '2016-02-01 12:00:00',
               '2016-02-01 18:00:00', '2016-02-02 00:00:00'],
              dtype='datetime64[ns]', length=129, freq='6H')

In [25]:
pd.date_range(start="2016-01-01",end="2016-02-02",freq="M")

DatetimeIndex(['2016-01-31'], dtype='datetime64[ns]', freq='M')

In [26]:
pd.date_range(start="2012-09-09",periods=10)

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.date_range(start="2012-09-09",periods=50,freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [29]:
pd.date_range(end="1999-12-31",periods=20,freq="B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

### The .dt Accessor

In [33]:
bunch_of_dates = pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

In [34]:
s = pd.Series(bunch_of_dates)

In [35]:
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [44]:
s.dt.month
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [46]:
s[s.dt.is_quarter_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

### Import Financial data set with pandas_datareader library

In [48]:
from pandas_datareader import data

In [50]:
stocks =data.DataReader(name="MSFT",data_source="yahoo",start="2010-01-01",end="2020-05-01")
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.493387
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  23.855656
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.863361
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.716921
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.470270

In [56]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
                '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29',
                '2020-04-30', '2020-05-01'],
               dtype='datetime64[ns]', name='Date', length=2601, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

### Selecting rows from a dataframe with date time index

In [57]:
stocks.loc["2010-01-04"]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.385566e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [58]:
stocks.loc[pd.Timestamp("2010-01-04")]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.385566e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [ ]:
stocks.loc[pd.Timestamp("2010-01-04")]

In [62]:
# stocks.loc["2030-01-01"]
# stocks.iloc[10000]

In [64]:
stocks.loc[["2010-01-05","2010-01-08"]]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.863361
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.632128

In [66]:
stocks.loc["2010-01-05":"2010-01-08"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.863361
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.716921
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.470270
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.632128

In [68]:
stocks.truncate(before="2010-01-05",after="2010-01-08")

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  23.863361
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.716921
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.470270
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.632128

In [70]:
birthdays = pd.date_range(start="1991-04-12",end="2020-12-31"
              ,freq=pd.DateOffset(years=1))

In [72]:
stocks[stocks.index.isin(birthdays)]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-04-12,30.490000,30.209999,30.250000,30.320000,37068800.0,23.479345
2011-04-12,25.850000,25.549999,25.830000,25.639999,36920400.0,20.293659
2012-04-12,31.040001,30.420000,30.480000,30.980000,38304000.0,25.188450
2013-04-12,29.020000,28.660000,28.850000,28.790001,62886300.0,24.110415
2016-04-12,54.779999,53.759998,54.369999,54.650002,24944300.0,49.707623
2017-04-12,65.510002,65.110001,65.419998,65.230003,17108500.0,60.891220
2018-04-12,94.160004,92.430000,92.430000,93.580002,26758900.0,89.184868
2019-04-12,120.980003,120.370003,120.639999,120.949997,19745100.0,117.215042

### Time object Attributes and methods

In [73]:
someday = stocks.index[500]

In [74]:
someday.month

12

In [78]:
someday.month_name()
someday.day_name()

'Friday'

### The pd.Dateoffset object

In [80]:
# stocks.index+5

In [81]:
stocks.index +pd.DateOffset(days=5)

DatetimeIndex(['2010-01-05', '2010-01-09', '2010-01-10', '2010-01-11',
               '2010-01-12', '2010-01-13', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-19',
               ...
               '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
               '2020-04-29', '2020-05-02', '2020-05-03', '2020-05-04',
               '2020-05-05', '2020-05-06'],
              dtype='datetime64[ns]', name='Date', length=2601, freq=None)

In [82]:
stocks.index -pd.DateOffset(days=5)

DatetimeIndex(['2009-12-26', '2009-12-30', '2009-12-31', '2010-01-01',
               '2010-01-02', '2010-01-03', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-09',
               ...
               '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-18',
               '2020-04-19', '2020-04-22', '2020-04-23', '2020-04-24',
               '2020-04-25', '2020-04-26'],
              dtype='datetime64[ns]', name='Date', length=2601, freq=None)

In [83]:
stocks.index -pd.DateOffset(weeks=2)

DatetimeIndex(['2009-12-17', '2009-12-21', '2009-12-22', '2009-12-23',
               '2009-12-24', '2009-12-25', '2009-12-28', '2009-12-29',
               '2009-12-30', '2009-12-31',
               ...
               '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-13', '2020-04-14', '2020-04-15',
               '2020-04-16', '2020-04-17'],
              dtype='datetime64[ns]', name='Date', length=2601, freq=None)

### Time series offset

In [85]:
stocks.index +pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-05-31', '2020-05-31'],
              dtype='datetime64[ns]', name='Date', length=2601, freq=None)

In [86]:
from pandas.tseries import offsets

### The Timedelta object

In [89]:
time_a = pd.Timestamp("2020-03-31 04:40:16PM")
time_b = pd.Timestamp("2020-03-20 02:40:16AM")

In [90]:
time_a-time_b

Timedelta('11 days 14:00:00')

In [91]:
time_b-time_a

Timedelta('-12 days +10:00:00')

In [92]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [98]:
pd.Timedelta(weeks=52,days=3,hours=5,minutes=5,seconds=55)

Timedelta('367 days 05:05:55')

In [99]:
pd.Timedelta("5minutes")

Timedelta('0 days 00:05:00')

In [100]:
pd.Timedelta("6hours5minutes")

Timedelta('0 days 06:05:00')

In [104]:
pd.Timedelta("2days6hours5minutes")

Timedelta('2 days 06:05:00')

### Time delta in Data set

In [108]:
shipping = pd.read_csv("./pandasfiles/ecommerce.csv",index_col="ID",parse_dates=['order_date','delivery_date'])

In [109]:
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [112]:
shipping['Delivery_time']=shipping["delivery_date"] -shipping["order_date"]

In [113]:
shipping.head()

   order_date delivery_date Delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days